<main class="grow relative">
    <!-- mask bg-->
    <div class="absolute top-32 left-0 z-50">
        <div class="relative mx-auto w-screen h-screen bg-slate-300 opacity-40"></div>
        <div class="flex justify-center absolute inset-0">
            <div
                class="w-96 flex flex-col justify-center opacity-60 p-8 bg-slate-800 text-white border border-slate-800">
                <img src="{{'images/thumb.svg' | asset_url }}" class="w-44" />
                <h1 class="text-4xl">Demo 数据演示</h1>
                <p>请到后台添加页面</p>
            </div>
        </div>
    </div>
    <!-- content -->
    <!-- Page header -->
    <div
        class="sm:flex sm:justify-between sm:items-center px-4 sm:px-6 py-8 border-b border-gray-200 dark:border-gray-700/60">

        <!-- Page title -->
        <div class="mb-5">
            <h1 class="flex items-center text-2xl md:text-4xl text-gray-800 font-bold">
                <img src="/-/rails/activestorage/blobs/redirect/eyJfcmFpbHMiOnsiZGF0YSI6NDA2LCJwdXIiOiJibG9iX2lkIn19--6dc2b331db265e01671652b1165899724adde996/avatar8.svg"
                    class="w-10 h-10 mr-2">
                通知公告
            </h1>
            <p class="text-sm text-gray-600 mt-2">通知栏目介绍</p>
        </div>

        <!-- Right: Actions -->
        <div class="grid grid-flow-col sm:auto-cols-max justify-start sm:justify-end gap-2">
            <!-- Add entry button -->
            <a href="#a"
                class="btn bg-primary text-gray-100 hover:bg-gray-800 dark:bg-gray-100 dark:text-gray-800 dark:hover:bg-white">后台管理</a>
        </div>

    </div>

    <div class="px-4 sm:px-6 lg:px-8 py-8 w-full max-w-9xl mx-auto bg-white">
        <div class="max-w-3xl m-auto">

            <!-- Filters -->
            <div class="xl:pl-32 xl:-translate-x-16 mb-2">
                <ul class="flex flex-wrap -m-1">
                    <li class="m-1">
                        <button
                            class="inline-flex items-center justify-center text-sm font-medium leading-5 rounded-full px-3 py-1 border border-transparent shadow-sm bg-primary dark:bg-gray-100 text-white dark:text-gray-800 transition">显示所有</button>
                    </li>

                    <li class="m-1">
                        <a href="/notifications?tag=市场营销"
                            class="inline-flex items-center justify-center text-sm font-medium leading-5 rounded-full px-3 py-1 border border-gray-300 dark:border-gray-700/60 hover:border-gray-600 dark:hover:border-gray-600 shadow-sm bg-white dark:bg-gray-800 text-gray-500 dark:text-gray-400 transition">市场营销</a>
                    </li>

                    <li class="m-1">
                        <a href="/notifications?tag=品牌推广"
                            class="inline-flex items-center justify-center text-sm font-medium leading-5 rounded-full px-3 py-1 border border-gray-300 dark:border-gray-700/60 hover:border-gray-600 dark:hover:border-gray-600 shadow-sm bg-white dark:bg-gray-800 text-gray-500 dark:text-gray-400 transition">品牌推广</a>
                    </li>

                    <li class="m-1">
                        <a href="/notifications?tag=数字体验"
                            class="inline-flex items-center justify-center text-sm font-medium leading-5 rounded-full px-3 py-1 border border-gray-300 dark:border-gray-700/60 hover:border-gray-600 dark:hover:border-gray-600 shadow-sm bg-white dark:bg-gray-800 text-gray-500 dark:text-gray-400 transition">数字体验</a>
                    </li>

                </ul>
            </div>

            <!-- Posts -->

            <div class="xl:-translate-x-16">



                <!-- Post -->
                <article class="pt-6">
                    <div class="xl:flex">
                        <div class="w-32 shrink-0">
                            <div class="text-xs font-semibold uppercase text-gray-400 dark:text-gray-500 xl:leading-8">
                                2024-11-13</div>
                        </div>
                        <div class="grow border-b border-gray-200 dark:border-gray-700/60">
                            <header>
                                <h2 class="text-2xl text-gray-800 dark:text-gray-100 font-bold mb-3">Definition of
                                    Changelog</h2>
                            </header>
                            <div class="space-y-3">
                                <p>Creating a changelog is a straightforward process, but it requires diligence and
                                    consistency. The first step is to decide on the format of the changelog. While
                                    there's no standard format for changelogs, most of them include the version number,
                                    release date, and a list of changes.</p>
                                <p>Once the format is decided, the next step is to document the changes for each
                                    version. This involves writing a brief description of each change and categorizing
                                    it under the appropriate heading. It's important to write the descriptions in a way
                                    that they are understandable to the users, not just the developers.</p>
                            </div>
                            <footer class="mt-4">
                                <div class="flex flex-nowrap items-center space-x-2 mb-4">
                                    <div class="flex items-center">
                                        <a class="block mr-2 shrink-0" href="#0">
                                            <img class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-800 box-content"
                                                src="/-/theme-assets/eyJ0aGVtZV9zY29wZSI6ImNvbW11bml0eSIsInRoZW1lX25hbWUiOiJpbnRyYW5ldCIsImFzc2V0X29pZCI6ImZha2Utb2lkIiwicGF0aCI6ImltYWdlcy91c2VyLTAxLmpwZyJ9--90e4849f1844fdabd582333ec8c17d0625807dd6/images/user-01.jpg"
                                                alt="User 04">
                                        </a>
                                        <a class="block text-sm font-semibold text-gray-800 dark:text-gray-100"
                                            href="#0">
                                            song
                                        </a>
                                    </div>
                                    <div class="text-gray-400 dark:text-gray-600">·</div>
                                    <div>


                                        <a href="/-/tags/%E5%B8%82%E5%9C%BA%E8%90%A5%E9%94%80"
                                            class="inline-flex items-center justify-center text-sm font-medium leading-5 rounded-lg px-3 py-0 border border-gray-300 dark:border-gray-700/60 hover:border-gray-600 dark:hover:border-gray-600 shadow-sm bg-white dark:bg-gray-800 text-gray-500 dark:text-gray-400 transition"
                                            style="
                                                background-color: hsl(235.0, 15.38%, 90%);
                                                color: #42445A;
                                                ">
                                            #市场营销
                                        </a>




                                        <a href="/-/tags/UI%20%E8%AE%BE%E8%AE%A1"
                                            class="inline-flex items-center justify-center text-sm font-medium leading-5 rounded-lg px-3 py-0 border border-gray-300 dark:border-gray-700/60 hover:border-gray-600 dark:hover:border-gray-600 shadow-sm bg-white dark:bg-gray-800 text-gray-500 dark:text-gray-400 transition"
                                            style="
                                                background-color: hsl(339.61, 82.19%, 90%);
                                                color: #E91E63;
                                                ">
                                            #UI 设计
                                        </a>



                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </article>




                <!-- Post -->
                <article class="pt-6">
                    <div class="xl:flex">
                        <div class="w-32 shrink-0">
                            <div class="text-xs font-semibold uppercase text-gray-400 dark:text-gray-500 xl:leading-8">
                                2024-11-13</div>
                        </div>
                        <div class="grow border-b border-gray-200 dark:border-gray-700/60">
                            <header>
                                <h2 class="text-2xl text-gray-800 dark:text-gray-100 font-bold mb-3">In the realm of
                                    product management and operations</h2>
                            </header>
                            <div class="space-y-3">
                                <p>Creating a changelog is a straightforward process, but it requires diligence and
                                    consistency. The first step is to decide on the format of the changelog. While
                                    there's no standard format for changelogs, most of them include the version number,
                                    release date, and a list of changes.</p>
                                <p></p>
                                <p>Once the format is decided, the next step is to document the changes for each
                                    version. This involves writing a brief description of each change and categorizing
                                    it under the appropriate heading. It's important to write the descriptions in a way
                                    that they are understandable to the users, not just the developers.</p>
                            </div>
                            <footer class="mt-4">
                                <div class="flex flex-nowrap items-center space-x-2 mb-4">
                                    <div class="flex items-center">
                                        <a class="block mr-2 shrink-0" href="#0">
                                            <img class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-800 box-content"
                                                src="/-/theme-assets/eyJ0aGVtZV9zY29wZSI6ImNvbW11bml0eSIsInRoZW1lX25hbWUiOiJpbnRyYW5ldCIsImFzc2V0X29pZCI6ImZha2Utb2lkIiwicGF0aCI6ImltYWdlcy91c2VyLTAxLmpwZyJ9--90e4849f1844fdabd582333ec8c17d0625807dd6/images/user-01.jpg"
                                                alt="User 04">
                                        </a>
                                        <a class="block text-sm font-semibold text-gray-800 dark:text-gray-100"
                                            href="#0">
                                            song
                                        </a>
                                    </div>
                                    <div class="text-gray-400 dark:text-gray-600">·</div>
                                    <div>


                                        <a href="/-/tags/%E5%B8%82%E5%9C%BA%E8%90%A5%E9%94%80"
                                            class="inline-flex items-center justify-center text-sm font-medium leading-5 rounded-lg px-3 py-0 border border-gray-300 dark:border-gray-700/60 hover:border-gray-600 dark:hover:border-gray-600 shadow-sm bg-white dark:bg-gray-800 text-gray-500 dark:text-gray-400 transition"
                                            style="
                                                background-color: hsl(235.0, 15.38%, 90%);
                                                color: #42445A;
                                                ">
                                            #市场营销
                                        </a>




                                        <a href="/-/tags/%E5%93%81%E7%89%8C%E6%8E%A8%E5%B9%BF"
                                            class="inline-flex items-center justify-center text-sm font-medium leading-5 rounded-lg px-3 py-0 border border-gray-300 dark:border-gray-700/60 hover:border-gray-600 dark:hover:border-gray-600 shadow-sm bg-white dark:bg-gray-800 text-gray-500 dark:text-gray-400 transition"
                                            style="
                                                background-color: hsl(291.24, 63.72%, 90%);
                                                color: #9C27B0;
                                                ">
                                            #品牌推广
                                        </a>



                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </article>







                <!-- Post -->
                <article class="pt-6">
                    <div class="xl:flex">
                        <div class="w-32 shrink-0">
                            <div class="text-xs font-semibold uppercase text-gray-400 dark:text-gray-500 xl:leading-8">
                                2024-11-13</div>
                        </div>
                        <div class="grow border-b border-gray-200 dark:border-gray-700/60">
                            <header>
                                <h2 class="text-2xl text-gray-800 dark:text-gray-100 font-bold mb-3">Components of a
                                    Changelog</h2>
                            </header>
                            <div class="space-y-3">
                                <p>Creating a changelog is a straightforward process, but it requires diligence and
                                    consistency. The first step is to decide on the format of the changelog. While
                                    there's no standard format for changelogs, most of them include the version number,
                                    release date, and a list of changes.</p>
                            </div>
                            <footer class="mt-4">
                                <div class="flex flex-nowrap items-center space-x-2 mb-4">
                                    <div class="flex items-center">
                                        <a class="block mr-2 shrink-0" href="#0">
                                            <img class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-800 box-content"
                                                src="/-/theme-assets/eyJ0aGVtZV9zY29wZSI6ImNvbW11bml0eSIsInRoZW1lX25hbWUiOiJpbnRyYW5ldCIsImFzc2V0X29pZCI6ImZha2Utb2lkIiwicGF0aCI6ImltYWdlcy91c2VyLTAxLmpwZyJ9--90e4849f1844fdabd582333ec8c17d0625807dd6/images/user-01.jpg"
                                                alt="User 04">
                                        </a>
                                        <a class="block text-sm font-semibold text-gray-800 dark:text-gray-100"
                                            href="#0">
                                            song
                                        </a>
                                    </div>
                                    <div class="text-gray-400 dark:text-gray-600">·</div>
                                    <div>


                                        <a href="/-/tags/%E5%B8%82%E5%9C%BA%E8%90%A5%E9%94%80"
                                            class="inline-flex items-center justify-center text-sm font-medium leading-5 rounded-lg px-3 py-0 border border-gray-300 dark:border-gray-700/60 hover:border-gray-600 dark:hover:border-gray-600 shadow-sm bg-white dark:bg-gray-800 text-gray-500 dark:text-gray-400 transition"
                                            style="
      background-color: hsl(235.0, 15.38%, 90%);
      color: #42445A;
    ">
                                            #市场营销
                                        </a>




                                        <a href="/-/tags/%E6%95%B0%E5%AD%97%E4%BD%93%E9%AA%8C"
                                            class="inline-flex items-center justify-center text-sm font-medium leading-5 rounded-lg px-3 py-0 border border-gray-300 dark:border-gray-700/60 hover:border-gray-600 dark:hover:border-gray-600 shadow-sm bg-white dark:bg-gray-800 text-gray-500 dark:text-gray-400 transition"
                                            style="
      background-color: hsl(174.4, 100.0%, 90%);
      color: #009688;
    ">
                                            #数字体验
                                        </a>



                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </article>




                <!-- Post -->
                <article class="pt-6">
                    <div class="xl:flex">
                        <div class="w-32 shrink-0">
                            <div class="text-xs font-semibold uppercase text-gray-400 dark:text-gray-500 xl:leading-8">
                                2024-11-13</div>
                        </div>
                        <div class="grow border-b border-gray-200 dark:border-gray-700/60">
                            <header>
                                <h2 class="text-2xl text-gray-800 dark:text-gray-100 font-bold mb-3">Importance of a
                                    Changelog</h2>
                            </header>
                            <div class="space-y-3">
                                <p>Creating a changelog is a straightforward process, but it requires diligence and
                                    consistency. The first step is to decide on the format of the changelog. While
                                    there's no standard format for changelogs, most of them include the version number,
                                    release date, and a list of changes.</p>
                                <p>Once the format is decided, the next step is to document the changes for each
                                    version. This involves writing a brief description of each change and categorizing
                                    it under the appropriate heading. It's important to write the descriptions in a way
                                    that they are understandable to the users, not just the developers.</p>
                            </div>
                            <footer class="mt-4">
                                <div class="flex flex-nowrap items-center space-x-2 mb-4">
                                    <div class="flex items-center">
                                        <a class="block mr-2 shrink-0" href="#0">
                                            <img class="w-6 h-6 rounded-full border-2 border-white dark:border-gray-800 box-content"
                                                src="/-/theme-assets/eyJ0aGVtZV9zY29wZSI6ImNvbW11bml0eSIsInRoZW1lX25hbWUiOiJpbnRyYW5ldCIsImFzc2V0X29pZCI6ImZha2Utb2lkIiwicGF0aCI6ImltYWdlcy91c2VyLTAxLmpwZyJ9--90e4849f1844fdabd582333ec8c17d0625807dd6/images/user-01.jpg"
                                                alt="User 04">
                                        </a>
                                        <a class="block text-sm font-semibold text-gray-800 dark:text-gray-100"
                                            href="#0">
                                            song
                                        </a>
                                    </div>
                                    <div class="text-gray-400 dark:text-gray-600">·</div>
                                    <div>


                                        <a href="/-/tags/%E5%B8%82%E5%9C%BA%E8%90%A5%E9%94%80"
                                            class="inline-flex items-center justify-center text-sm font-medium leading-5 rounded-lg px-3 py-0 border border-gray-300 dark:border-gray-700/60 hover:border-gray-600 dark:hover:border-gray-600 shadow-sm bg-white dark:bg-gray-800 text-gray-500 dark:text-gray-400 transition"
                                            style="
      background-color: hsl(235.0, 15.38%, 90%);
      color: #42445A;
    ">
                                            #市场营销
                                        </a>




                                        <a href="/-/tags/%E5%93%81%E7%89%8C%E6%8E%A8%E5%B9%BF"
                                            class="inline-flex items-center justify-center text-sm font-medium leading-5 rounded-lg px-3 py-0 border border-gray-300 dark:border-gray-700/60 hover:border-gray-600 dark:hover:border-gray-600 shadow-sm bg-white dark:bg-gray-800 text-gray-500 dark:text-gray-400 transition"
                                            style="
      background-color: hsl(291.24, 63.72%, 90%);
      color: #9C27B0;
    ">
                                            #品牌推广
                                        </a>



                                    </div>
                                </div>
                            </footer>
                        </div>
                    </div>
                </article>


            </div>

            <!-- Pagination -->
            <div class="xl:pl-32 xl:-translate-x-16 mt-6">

                <div class="flex items-center justify-between py-3 border-gray-200">

                    <p class="text-sm text-gray-600">
                        总共
                        <span class="font-medium">5</span>
                        条记录
                    </p>

                </div>


            </div>


        </div>
    </div>
</main>