<!-- mask bg-->
<div class="absolute top-0 left-0 z-50">
  <div class="relative mx-auto w-screen h-screen bg-primary-300 opacity-20"></div>
  <div class="flex justify-center absolute left-8 top-32 h-44">
      <div class="justify-center opacity-100 p-12 w-96 h-96 text-orange-600 bg-orange-100 items-center content-center" style="background: url({{'images/arrow.png' | asset_url }}) no-repeat;">
          <h1 class="text-2xl">当前处于 Demo 演示效果！</h1>
          <p>请到后台添加相关内容，<a href="https://help.baklib.cn/themes/intranet" target="_blank">点击这里</a>查看教程。</p>
      </div>
  </div>
</div>