<article class="w-full px-4 pt-6 pb-8 space-y-6 bg-white rounded-md shadow-sm shadow-gray-200 lg:pb-10 lg:pt-10 lg:px-6">
  <div class="max-w-screen-md mx-auto">
    <h1 class="text-2xl font-semibold text-center text-gray-800 lg:text-4xl">{{ page.settings.title }}</h1>
    <blockquote class="mt-2 text-sm bg-slate-100 p-2 border-slate-300 border-l-2 text-gray-700">
      {{ page.settings.description }}
    </blockquote>
  </div>
  <div class="max-w-screen-sm mx-auto">
    <div class="prose sm:prose-base lg:prose-base focus:outline-none dark:prose-invert">
      {{ page.settings.content }}
    </div>
  </div>
</article>

<!--/ article-->
{% schema %}
    {
    "name": "Page",
    "thumb_url": "images/theme/page.png",
    "description": "文章模板，固定的布局",
    "sub_page_templates": ["events-post"],
    "settings": [
      {
        "id": "title",
        "type": "text",
        "placeholder": "",
        "label": "标题",
        "info": "显示在正文上方的文章标题"
      },
      {
        "id": "description",
        "type": "text",
        "placeholder": "",
        "label": "描述",
        "info": "文章描述"
      },
      {
        "id": "content",
        "type": "richtext",
        "label": "页面内容"
      },
      {
        "id": "tags",
        "type": "tag_picker",
        "multiple": true,
        "label": "标签"
      },
      {
        "id": "icon",
        "type": "image_picker",
        "ratio": "1:1",
        "width": 100,
        "label": "ICON",
        "info": "只有栏目需要Icon图标"
      },
      {
        "id": "thumb_url",
        "type": "image_picker",
        "ratio": "16:9",
        "height": 200,
        "label": "封面图片"
      },
      {
        "id": "video_url",
        "type": "video_picker",
        "label": "视频",
        "info": "从资源库选择视频"
      }
    ]
    }
{% endschema %}
